@import "../../styles/styles.css";

.searchBox_container {
    padding: 0 10px;
    color: var(--dark-text-primary);
}

.searchBox_container.light {
    color: var(--light-text-primary);
}

.search_input {
    border: none;
    outline: none;
    width: 100%;
}

.search_icon {
    color: var(--light-text-primary);
    margin-right: 10px;
}

.select_box {
    color: var(--light-text-primary);
    min-width: 100px;
    width: 100%;
    padding: 0;
}


@media only screen and (min-width: 800px) {
    .searchBox_container {
        margin-top: 40px;
    }
}
