@import "../../styles/styles.css";

.content_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    border-radius: 50px;
    width: 80%;
}

.forecast_box {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-secondary-color);
    border-radius: 30px;
    padding: 20px 20px;
    overflow-x: scroll;
    width: 80%;
}

.large-forecast_box {
    display: flex;
    gap: 20px;
    background-color: var(--dark-secondary-color);
    border-radius: 30px;
    padding: 20px 20px;
    overflow-x: scroll;
    width: 80%;
}