@import "../../styles/styles.css";

.button {
    border: none;
    border-radius: 30px;
    height: 35px;
    margin: 10px;
    width: 100%;
    background: linear-gradient(to left, var(--tertiary-color), var(--quaternary-color));
    color: #fff;
    font-size: 18px;
}