
.home_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 60vh;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.current-loc_p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.content_rows {
    display: flex;
    justify-content: space-between;
}

.rtl_row {
    display: flex;
    flex-direction: row-reverse;
}

.ltr_row {
    display: flex;
    flex-direction: row;
}

.rtl_col {
    align-items: flex-end;
}

.ltr_col {
    align-items: flex-start;
}

@media only screen and (min-width: 527px) {

}

@media only screen and (min-width: 625px) {

}

@media only screen and (min-width: 800px) {
    .home_content {
        width: 60%;
    }
}

@media only screen and (min-width: 950px) {
    .home_content {
        width: 65%;
    }
}

@media only screen and (min-width: 1400px) {
    .home_content {
        width: 70%;
    }
}